img
  &.border
    display: inline-block;
    position: relative;
    border: 1px solid #ccc;
    padding: 5px;
    background: #f2f2f2;
  &.card
    width: 95%
    box-shadow: 0 0px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
